.demo-card-square.mdl-card {
    width: 320px;
    height: 265px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: #00aeaa url('./profile.jpg') no-repeat center;
    background-size: 40% auto;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}